
.RData
.Rhistory
3_Surveying.Rproj

*.md


.Rproj.user/*
article/*
data/0_Vorlagen/*
data/1_old/*
data/2_Gelbfallen/*
data/3_Durchseuchung/*
data/4_GIS/*
data/5_Kobo/*


data/Ho_qPCR.xls

data/hyal_altitude_BnSites.RData

data/hyal_altitude_work.RData

data/hyal_altitude_comparison.RData

data/Kartierung.xls

results/*



r-code/figure/*
*.pdf

r-code/03_stat_analyses.tex

r-code/02_desc_analyses.tex
.Rproj.user

data/Kartierung2.xls

r-code/01_preparation_rawdata.Rmd

r-code/01_preparation_workingdata.Rmd

*.html

*.html

r-code/03_stat_analyses.html

*.html
